@import "../../theme";

$activity-summary-performance-good: hsl(132, 56%, 34%);
$activity-summary-performance-good-alt: hsl(132, 56%, 40%);
$activity-summary-performance-poor: hsl(40, 78%, 49%);
$activity-summary-performance-poor-alt: hsl(40, 78%, 44%);
$activity-summary-performance-bad: hsl(10, 62%, 44%);
$activity-summary-performance-bad-alt: hsl(10, 62%, 50%);

select, option {
    text-align: center;
}

input[type="text"] {
    width: 50px;
    text-align: center;
}

.performance-controls {
    display: flex;
    flex-direction: row;
}

.table-container {
    width: 100%;
    max-width: 95%;
    padding: 0;
}

.table-row-header {
    position: sticky;
    top: 64px;
    background-color: $background-dark;
}

.table-header-cell {
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: $background;
    border: $font 1px solid;
}

.table-cell {
    padding: 5px 15px 5px 5px;
}

.sort-arrow {
    position: absolute;
    right: 6px;
}

.performance-good * {
    background-color: $activity-summary-performance-good;
}

.performance-poor * {
    background-color: $activity-summary-performance-poor;
}

.performance-bad * {
    background-color: $activity-summary-performance-bad;
}

.performance-good:nth-child(even) * {
    background-color: $activity-summary-performance-good-alt;
}

.performance-poor:nth-child(even) * {
    background-color: $activity-summary-performance-poor-alt;
}

.performance-bad:nth-child(even) * {
    background-color: $activity-summary-performance-bad-alt;
}
