@import "../../theme";

$activity-summary-performance-good: #42b861;
$activity-summary-performance-poor: #de9d1b;
$activity-summary-performance-bad: #de3b1b;

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

.table-container {
    display: grid;
    grid-template-columns: repeat(10, auto);
    width: 100%;
    max-width: 95%;
    padding: 0;
    overflow-x: auto;
    border: $orange 1px solid;
}

.table-row-header, .table-row{
    display: contents;
    //border-bottom: $orange 1px solid;
}

.table-row-header .table-cell  {
    font-weight: bold;
    border-bottom: $orange 2px solid;
}

.table-header-cell, .table-cell {
    padding: 5px;
    border-width: 0 1px 0 1px;
    border-color: $orange;
    border-style: solid;
}

//.table-row:nth-child(even) * {
//    background-color: $background-light;
//}

.performance-good * {
    background-color: $activity-summary-performance-good;
}

.performance-poor * {
    background-color: $activity-summary-performance-poor;
}

.performance-bad * {
    background-color: $activity-summary-performance-bad;
}